.contacts{
	&__inner{
	}
	&__phone{
		height: 480px;
		z-index: -1;
		position: relative;
		img{
			position: absolute;
			right: 25px;
		}
	}
	&__title{
		display: none;
	}
	&__items{
	box-sizing: border-box;
	width: 100%;
	height: 86px;
	background: linear-gradient(73.49deg, #313134 -57.16%, #222224 3.42%, #292929 86.16%);
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.item{
		width: 55px;
		height: 55px;
		background-color: #DADADA;
		border-radius: 50%;
		align-items: center;
		display: flex;
		justify-content: center;
		transition: 0.5s all;
	}
	.item:hover{
		background: radial-gradient(74.17% 74.17% at 50% 50%, #2EECC5 2.5%, rgba(0, 148, 117, 0) 100%)
	}
	}
	&__end-text{
		text-align: center;
		.text{
			color: #fff;
			margin-bottom: 8px;
			opacity: 70%;
		}
		.rules{
			opacity: 40%;
		}
	}
}
@media(min-width: 1276px){
	.footer{
		position: relative;
		margin-bottom: 40px;
	}
	.contacts{
		&__title{
			text-align: center;
			display: block;
			margin-bottom: 89px;
			.title{
				font-size: 96px;
			}
		}
		&__items{
			background: transparent;
			border: transparent;
			margin-bottom: 70px;
			.item{
				width: 100px;
				height: 100px;
			}
			.item:hover{
				width: 140px;
				height: 140px;
			}
		}
		&__phone{
			height: 0px;
			position: static;
			img{
				top: 62px;
				right: 5%;
			}
		}
	}
}