
.cooperation::after{
	content: "";
	background-image: url(../images/Group2.png);
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-image: cover;
	z-index: -10;
}
.cooperation{
	position: relative;
	&__inner{
		height: 100%;
		margin-top: 181px;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		flex-wrap: wrap;
	}
	&__info{
		padding-top: 50px;
		max-width: 673px;
		height: max-content;
		margin-left: 0;
	}
	&__title{
		text-align: center;
		margin-bottom: 17px;
	}
	&__subtitle{
		margin-bottom: 25px;
		text-align: center;
	}
	&__buttons{
		justify-content: center;
		display: flex;
		.btn{
			position: relative;
			padding: 12px 26px 11px 27px;
			background: #161617;
			border: 1.5px solid #2EECC5;
			box-shadow: 0px 0px 38px rgba(46, 236, 197, 0.2);
			border-radius: 4px;
			margin-bottom: 67px;
		}
		.btn:hover{
			box-shadow: none;
		}
		.btn::after{
			content: "";
			position: absolute;
			z-index: -1;
			border: 1.5px solid rgba(46, 236, 197, 0.4);
			border-radius: 4px;
			width: 100%;
			height: 100%;
			left: 9px;
			bottom: -11px;
		}
	}
	&__items{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__item{
		margin-top: 35px;
		position: relative;
		margin-bottom: 35px;
		background: linear-gradient(139.56deg, #303134 10.06%, #282828 53.72%, #282828 88%);
		box-shadow: 0px 0px 80px rgba(44, 44, 45, 0.35);
		border-radius: 6px;
		width: 266px;
		height: 289px;
		padding-top: 28px;
		padding-left: 23px;
		transition: 0.3s all;
		svg{
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.subject{
			font-size: 22px;
			padding-right: 80px;
			padding-bottom: 6px;
		}
		.text{
			color: #fff;
			font-size: 12px;
			padding-right: 36px;
			padding-top: 15px;
		}
	}
	&__item:hover{
		background: linear-gradient(139.56deg, #527791 10.06%, #325597 53.72%, #193895 88%);
box-shadow: 0px 0px 150px rgba(59, 95, 150, 0.35);
svg{
	path{
		fill: #5577CD;
	}
}
	}
}
@media(min-width: 600px){
	.cooperation{
		&__title{
			text-align: left;
		}
		&__subtitle{
			text-align: left;
		}
		&__buttons{
			justify-content: flex-start;
		}
	}
}
@media(min-width: 992px){
	
.cooperation::after{
	top: -400px;
}
	.cooperation{
		&__item{
			width: 300px;
			height: 350px;
			.text{
				line-height: 14px;
			}
		}
	}
}
@media(min-width: 1400px){
	
	.cooperation::after{
		top: -400px;
	}
		.cooperation{
			&__item{
				width: 350px;
				height: 350px;
				.text{
					line-height: 14px;
				}
			}
		}
	}
	