.requist{

	margin-top: 145px;
	&__wrapper{
		background: linear-gradient(91.69deg, #313134 -11.81%, #222224 23.9%, #12473C 60.63%, #292929 110.44%);
border: 1px solid rgba(255, 255, 255, 0.2);
		padding-bottom: 57px;
	}
	&__inner{
		padding-left: 10px;
		padding-right: 10px;
	}
	&__title{
		padding-left: 15px;
		padding-top: 30px;
		.title{
			font-size: 37px;
		}
	}
	.form-items{
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	.input{
		margin-top: 4px;
		background: rgba(255, 255, 255, 0.1);
		border: 1.5px solid rgba(255, 255, 255, 0.2);
		box-shadow: 0px 0px 38px rgba(255, 255, 255, 0.05);
		border-radius: 41px;
		width: 100%;
		max-width: 437px;
		height: 52px;
		padding-left: 10px;
	}
	.label{
		padding-left: 10px;
		max-width: 437px;
		width: 100%;
		color: #fff;
		opacity: 70%;
		margin-bottom: 17px;
		padding-right: 25px;
	}
	.label:first-child{
		margin-top: 27px;
	}
	.label:last-child{
		padding-bottom: 29px;
	}
	.btn{
		padding: 15px 44px 11px 43px;
	}
	.form__buttons{
		padding-top: 43px;
		width: 100%;
		margin: 0 auto;
		align-self: center;
	}
}
@media(  min-width: 893px){
	.requist{
		.label{
			margin-top: 25px;
		}
		.form__buttons{
			margin-left: 48px;
		}
	}
}